* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo-form {
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
}

.form-row {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.form-row input[type="text"] {
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  padding: 0.3rem;
  font-size: 0.8rem;
}

.form-row button {
  align-self: center;
  width: 25%;
}
