* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapper .todo-list li {
  list-style: none;
  width: 100%;
  margin-block-end: 0.7rem;
}

.todo-form {
  padding-inline: 0.5rem;
  padding-block: 0.25rem;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 0.5rem;
}

.form-row {
  /* margin-bottom: 1.5rem; */
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.form-row input[type="text"],
.form-row input[type="date"],
.form-row select {
  background-color: #ffffff;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  padding-block: 0.5rem;
  padding-inline: 0.3rem;
  font-size: 0.83rem;
  width: 100%;
  box-sizing: border-box;
}

.form-row label {
  font-weight: 500;
  font-size: 1.2rem;
}

.form-row button {
  align-self: start;
  width: 25%;
  min-width: 80px;
}

.todo-list {
  width: 100%;
  min-width: 200px;
  padding: 0;
}

.todo-buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  gap: 0.25rem;
  grid-column: 3;
  grid-row: 1;
}

.todo-buttons button {
  border: none;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;

  padding-inline: 0.3rem;
  padding-block: 0.3rem;
  width: 22px;
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-buttons button:hover {
  border: 1px solid var(--line-clr);
  border-radius: 8px;
  /* background-color: var(--hover-clr); */
  box-shadow:
    0 0 0 1px color-mix(in oklch, var(--line-clr) 90%, transparent),
    inset 0 0 2px 1px color-mix(in oklch, var(--base-clr) 25%, transparent);
}

.todo-buttons button svg {
  width: 10px;
  height: 10px;
  display: block;
}

.todo-buttons button:nth-child(1) svg {
  fill: var(--accent-clr);
}
.todo-buttons button:nth-child(2) svg {
  fill: #4dc259;
  width: 12px;
  height: 12px;
}
.todo-buttons button:nth-child(3) svg {
  fill: #c91414;
}

.todo-card {
  display: grid;
  grid-template-columns: 120px 1fr max-content;
  grid-template-rows: auto auto;
  align-items: start;
  gap: 0.5rem;

  width: 100%;

  max-width: 900px;

  box-shadow:
    0 0 0 1px color-mix(in oklch, var(--line-clr) 90%, transparent),
    0 0 10px oklch(0 0 0 / 0.18),
    inset 0 0 2px 1px color-mix(in oklch, var(--base-clr) 25%, transparent);
  border: 1px solid var(--line-clr);
  border-radius: 0.5rem;

  padding-inline: min(20px, 2%);
  padding-block: 1.2rem;
  /* margin-block-end: 0.7rem; */

  /* color: var(--text-clr);
  background-color: var(--base-clr); */
}

.todo-card.completed {
  opacity: 0.5;
}

.todo-card.completed .todo-task {
  text-decoration: line-through;
}

.todo-count {
  grid-column: 1;
  grid-row: 2;
}

.todo-task {
  grid-column: 2;
  align-self: center;
  grid-row: 2;
}

.todo-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  grid-column: 1 / span 2;
  grid-row: 1;
}
